{
  "AWSEBDockerrunVersion": 2,
  "authentication": {
    "bucket": "elasticbeanstalk-us-west-2-xxxxxxxxxxxx",
    "key": "dockercfg"
  },
  "containerDefinitions": [
    {
      "name": "api",
      "image": "mapleinside/api-service:{{APP_VERSION}}",
      "essential": true,
      "memory": 768,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": {{PORT}}
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
            "awslogs-region": "us-west-2",
            "awslogs-group": "{{APP_NAME}}"
        }
      },
      "environment": [
        {
          "name": "NODE_ENV",
          "value": "{{NODE_ENV}}"
        },
        {
          "name": "APP_NAME",
          "value": "{{APP_NAME}}"
        },
        {
          "name": "MYSQL_URL",
          "value": "{{MYSQL_URL}}"
        },
        {
          "name": "PORT",
          "value": "{{PORT}}"
        }
      ],
      "family": "{{APP_NAME}}"
    }
  ]
}
